.contacts {
  background-color: #fff;

  &__title {
    font-size: 24px;
    font-weight: light;
  }

  &__item-subtitle {
    font-size: 18px;
    font-weight: bold;
  }

  &__item-info {
    font-size: 24px;
    font-weight: lighter;

    color: #d22856;
  }
}
