.contacts {
  background-color: #ffffff;
  padding: 46px 20px 38px 20px;
}

.contacts__title {
  font-size: 24px;
  font-weight: lighter;
}

.contacts__item-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.contacts__item-info {
  font-size: 24px;
  font-weight: lighter;

  color: #d22856;
}
