.header-line__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  color: #fff;
}

.header-line__price {
  font-size: 18px;
  line-height: 24px;
  font-weight: lighter;

  color: #fff;
}
