.modal {
  padding: 40px 20px 50px 20px;
}

.modal__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.modal__message {
  font-size: 14px;
}

.modal__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
