.reviews {
  background-color: #ffffff;

  padding: 48px 20px 40px 20px;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: bold;

  color: #000000;
}

.reviews__text {
  font-weight: bold;
}
